.rwby {
    width: 100px;
    height: 100px;
}

.block {
    display: block;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.expl-block {
    color: #ddd;
    margin: 20px;
    width: 160px;
    height: 150px;
}

.bg-indigo {
    background: #303F9F;
}
.bg-purple {
    background: #512DA8;
}
.bg-green {
    background: #388E3C;
}
