.rwby {
    width: 100px;
    height: 100px;
}

.block {
    display: block;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.expl-block {
    margin: 20px;
    width: 160px;
    height: 150px;
}
